# Object and source files
*.o
src/contextes
src/example
src/example-pthread

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

# Backup files
*.swp
*~

# Dirs
tests/*
!tests/*.c
!tests/CMakeLists.txt

# Other
*.pdf
*.toc
*.aux
*.log
tags
